@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --grey-900: #2a4144;
  --grey-500: #86a2a5;
  --white: #ffffff;
  --green-600: #0c7d69;
  --green-200: #e0f1e8;
  --red-error: #d73c3c;
  --spacing-1600: 128px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}

@mixin heading {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 100%;
}
@mixin body-md {
  font-size: 1.125rem;
  letter-spacing: 0px;
  line-height: 150%;
  font-weight: 400;
}
@mixin regular {
  font-weight: 400;
}

@mixin bold {
  font-weight: 700;
}

@mixin body-sm {
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 150%;
}

.button:hover {
  background-color: var(--green-600);
}
.inputField:hover {
  border: 1px solid var(--green-600);
}
.inputField:focus {
  border: 1px solid var(--green-600);
  outline: none;
}
.termsandcondition {
  position: relative;
}
form input[type="radio"]{
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    z-index: 1;


}
.radioSpan{
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 1px solid var(--grey-500);
    border-radius: 50%; 
    display: inline-block; 
    position: relative; 
}
form input[type="radio"]:checked + .radioSpan{
    border: 1px solid var(--green-600);

}
form input[type="radio"]:checked + .radioSpan::after{
    content: "";
    background-color: var(--green-600);
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid var(--green-600);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c7d69;
}
form input[type="checkbox"] {
  position: absolute;
  width: 28px;
  height: 28px;
  opacity: 0;
  
}
.checkboxSpan {
  width: 24px;
  height: 24px;
  background-color: var(--white);
  display: inline-block;
  border: 2px solid var(--green-200);
  border-radius: var(--spacing-50);
}

form input[type="checkbox"]:checked ~ .checkboxSpan {
  background-color: var(--green-600);
  border: 1px solid var(--green-200);
}
form input[type="checkbox"]:checked ~ .checkboxSpan::after {
  content: "";
  position: relative;
  display: block;
  left: 35%;
  top: 10%;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


textarea:focus {
  border: 1px solid var(--green-600);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body {
  background-color: var(--color-green-200, #e0f1e8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  padding: var(--spacing-200) var(--spacing-500);
  display: flex;
  flex-direction: row;
  column-gap: var(--spacing-200);
  border-radius: var(--spacing-100);
  align-items: center;
  justify-content: center;
  background-color: var(--green-600);
  color: var(--white);
  @include body-md;
  @include bold;
}

form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.975rem 1.875rem;
  gap: 20px;
  max-width: 60px;
  min-width: 40%;
  border-radius: 16px;
}
.form-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h3 {
  @include heading;
}
.username-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  text-transform: capitalize;
  @include body-sm;
  gap: var(--spacing-200);
}
input {
  border-radius: var(--spacing-100);
  padding: var(--spacing-150) var(--spacing-300);
  display: flex;
  gap: var(--spacing-200);
  border: 1px solid var(--grey-500);
}
.display-in-flex-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.display-in-flex-colume {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: var(--spacing-200);
}

.radioType-style {
  display: flex;
  padding-left: 10px;
  align-items: center;
  gap: 25px;
  @extend input;
  position: relative;
}

.radioType-style:hover{
    background-color: var(--green-200)
}

#message {
  @extend input;
  height: 81px;
  outline: none;
}
.checkbox-style {
  display: flex;
  gap: 8px;
  align-items: center;
}

#message {
  padding: 10px;
}
textarea {
  resize: none;
}

// button{
//     height: 2.374rem;
//     border-radius: 4px;
//     font-size: 1.2rem;
//     color: #fff;
//     background-color: rgb(185, 235, 228);
//     border: 0;
//     outline: 0;
// }
small {
  color: red;
}

@media (max-width: 1051px) {
  form {
    min-width: 90%;
  }
}
@media (max-width: 731px) {
  form {
    // max-width: 360px;
    min-width: 90%;
  }
  body {
    padding-block: 30px;
    height: fit-content;
  }
}
